.beam {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-end;
}

@keyframes hue {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(360deg);
  }
}

.beam > div {
  width: 15px;
  height: 15px;
  animation: hue 0.5s infinite linear;
  border: 0.5px solid #989797;
  filter: hue-rotate(0deg);
}

.beam > div:nth-child(4n + 1) {
  background: #ff595e;
}

.beam > div:nth-child(4n + 2) {
  background: #ffca3a;
}

.beam > div:nth-child(4n + 3) {
  background: #8ac926;
}

.beam > div:nth-child(4n + 4) {
  background: #5eafe2;
}

/* 汎用スタイル */
.detail {
  position: relative;
  display: inline-block;
  width: fit-content;
  overflow: hidden;
  height: 300px;
  width: 300px;
  border: 3px solid #313131;
  border-radius: 15px;
}

.bird {
  position: relative;
  max-width: 100%;
}

.beam {
  position: absolute;
  width: 100%;
  height: 100%;
}
