.beam {
  position: absolute;
  background-color: rgb(123, 197, 119);
  width: 100%;
  height: 100%;
}

/* 汎用スタイル */
.detail {
  position: relative;
  display: inline-block;
  width: fit-content;
  overflow: hidden;
  max-height: 300px;
  max-width: 300px;
  border: 3px solid #313131;
  border-radius: 15px;
}

.bird {
  position: relative;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}
