.main {
  background-color: #076dff;
  padding: 2rem 0;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.item {
  position: relative;
  display: inline-block;
  width: fit-content;
  overflow: hidden;
  width: 300px;
  height: 300px;
  border: 2px solid #313131;
  border-radius: 15px;
  cursor: pointer;
}

.title-item {
  font-weight: bold;
  color: #3c3c3c;
  width: 300px;
  height: 300px;
}

.title {
  text-decoration: underline;
}

.description {
  font-size: 0.8rem;
  color: #3c3c3c;
}

.item:hover {
  box-shadow: 0 0 10px 2px rgba(0, 200, 255, 0.8);
  transform: translateY(-4px);
}

.detail {
  position: relative;
  display: inline-block;
  width: fit-content;
  overflow: hidden;
  height: 450px;
  width: 450px;
  border: 3px solid #313131;
  border-radius: 15px;
}

.bird {
  position: relative;
  z-index: 2;
  display: block;
  max-width: 100%;
}

.beam {
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  z-index: 1;
}
