.background {
  background-color: #076dff;
}

@keyframes spin-card {
  0% {
    transform: rotateY(0deg);
  } /* 正面 */
  25% {
    transform: rotateY(90deg);
  } /* 側面（ほぼ見えない） */
  50% {
    transform: rotateY(180deg);
  } /* 裏向き */
  75% {
    transform: rotateY(270deg);
  } /* 側面2 */
  100% {
    transform: rotateY(360deg);
  } /* 再び正面 */
}

.loop {
  width: 300px;
  overflow: hidden;
  transform-style: preserve-3d;
  animation: spin-card 4s linear infinite;
}

/* 汎用スタイル */
@keyframes seamless-loop {
  0% {
    background-position: 0% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

.rainbow-beam {
  transform: rotate(-45deg);

  background: linear-gradient(
    to right,
    #ff0000,
    #ff7f00,
    #ffff00,
    #00ff00,
    #00ffff,
    #0000ff,
    #8b00ff,
    #ff0000
  );

  background-size: 200% 100%;

  animation: seamless-loop 2s linear infinite;
}

.detail {
  position: relative;
  display: inline-block;
  width: fit-content;
  overflow: hidden;
  height: 300px;
  width: 300px;
  border: 3px solid #313131;
  border-radius: 15px;
}

.bird {
  position: relative;
  max-width: 100%;
}

.beam {
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
}
