@keyframes rotate {
  0%,
  100% {
    transform: scale(1, 1);
    transform: translate(-3px, -1px) rotate(0deg);
  }

  35% {
    transform: scale(1.05, 0.95);
    transform: translate(-4px, -1px) rotate(180deg);
  }

  65% {
    transform: scale(0.95, 1.05);
    transform: translate(-2px, 1px) rotate(-90deg);
  }
}

.bird-rotate {
  animation: rotate 3s infinite ease-in-out;
}

/* 汎用スタイル */
@keyframes seamless-loop {
  0% {
    background-position: 0% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

.rainbow-beam {
  transform: rotate(-90deg);

  background: linear-gradient(
    to right,
    #ff0000,
    #ff7f00,
    #ffff00,
    #00ff00,
    #00ffff,
    #0000ff,
    #8b00ff,
    #ff0000
  );

  background-size: 200% 100%;

  animation: seamless-loop 2s linear infinite;
}

.detail {
  position: relative;
  display: inline-block;
  width: fit-content;
  overflow: hidden;
  height: 300px;
  width: 300px;
  border: 3px solid #313131;
  border-radius: 15px;
}

.bird {
  position: relative;
  max-width: 100%;
}

.beam {
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
}
