.backend {
  position: relative;
  background-color: rgb(193, 247, 255);
}

@keyframes wave-move {
  0% {
    transform: rotate(0deg);
    filter: hue-rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    filter: hue-rotate(360deg);
  }
}

.wave {
  position: absolute;
  top: 420px;
  left: 0;
  width: 130%;
  height: 110%;
  border-radius: 50%;
  animation: wave-fill 1.5s ease-in-out infinite, wave-move 3s linear infinite;
}

@keyframes wave-fill {
  0%,
  100% {
    transform: translateY(20px) scale(1);
    filter: hue-rotate(0deg);
  }
  50% {
    transform: translateY(0) scale(1.05);
    filter: hue-rotate(360deg);
  }
}

.wave::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 130%;
  height: 130%;
  background: radial-gradient(
    circle at center,
    rgb(0, 0, 255),
    rgba(0, 255, 255, 0.5)
  );
  border-radius: 50%;
  animation: wave-fill 5s ease-in-out infinite reverse,
    wave-move 10s linear infinite;
}

.wave::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 120%;
  height: 120%;
  background: radial-gradient(
    circle at center,
    rgb(0, 210, 0),
    rgb(255, 255, 0, 0.5)
  );
  border-radius: 48%;
  animation: wave-fill 15s ease-in-out infinite, wave-move 16s linear infinite;
}

/* 汎用スタイル */
@keyframes seamless-loop {
  0% {
    background-position: 0% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

.detail {
  position: relative;
  display: inline-block;
  width: fit-content;
  overflow: hidden;
  height: 300px;
  width: 300px;
  border: 3px solid #313131;
  border-radius: 15px;
}

.bird {
  position: relative;
  max-width: 100%;
}

.beam {
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
}
