.rainbow-beam {
  background: linear-gradient(
    to right,
    #8b00ff,
    #0000ff,
    #ff0000,
    #ff7f00,
    #ffff00,
    #00ff00,
    #00ffff
  );
}

/* 汎用スタイル */
.detail {
  position: relative;
  display: inline-block;
  width: fit-content;
  overflow: hidden;
  height: 450px;
  width: 450px;
  border: 3px solid #313131;
  border-radius: 15px;
}

.bird {
  position: relative;
  display: block;
  max-width: 100%;
}

.beam {
  position: absolute;
  width: 100%;
  height: 100%;
}
